*{
    margin: 0;
    padding: 0;
   }
    #heading{
    color: #1e516c ;
    text-align: center;
    padding-bottom: 30px;
    }
    #container{
    width: 100%;
    height: 90%;
    /* border :1px solid red; */
    font-family:Arial, Helvetica, sans-serif; 
    
    }
    .box{ 
    height: 70%;
   
    display:flex;
    justify-content: space-evenly;
    

        
    }
    .forlog{
    width:40%;
    /* border:1px solid pink; */
    /* margin-left: 20px; */
    background-color: rgb(255, 253, 253);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    .forregistor{
    width: 40%;
    /* border:1px solid green */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
        
    }
    h2{text-align: center;
    padding-top: 20px;}

   #psw{
    width: 490px;
    height: 50px;
    border-radius: 4px;
    border:1px solid rgb(189, 186, 186);
   }
   .eml{
    width: 490px;
    height: 50px;
    border-radius: 4px;
    border:1px solid rgb(189, 186, 186);
   }
   .farfa-question-circle{
    font-weight:2px ;   
   }
   .sub{
    display: flex;
    justify-content: center;
/* text-align: center; */
   }

   .btn{
       padding: 20px  22px 20px 22px;
       background: #ffce61;
   }
   .btn:hover{
       background-color: white;
       cursor: pointer;
   }
   #bton{
    border-color: rgb(79, 113, 232);
    border-bottom-width: thin;
    margin-left: 4px !important;
    background: linear-gradient(90deg, rgb(255, 255, 255) 40px, rgb(79, 113, 232) 5%) !important; 
    width: 200px !important;
    padding-top: -7px !important;
    padding-bottom: 6px !important;
    margin-bottom: -1px !important;
    border-radius: 4px !important;
    cursor: pointer;
    color:orange;
    font-size: 16px;
    
    
    
   }
  #bton> a{
       color: white;
       font-size: 15px;
     
   }
   img{
       padding-right: 31px;
       width: 30px;
   }
   p{
       font-size: 18px;
        line-height:35px;

        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   #forgetpass{
       display:  flex;
       padding-top: 10px;
       
   }
  #pwd{
    width: 490px;
    height: 50px;
    border-radius: 4px;
    border:1px solid rgb(189, 186, 186);
  }

  #submit{
      background: orange;
      border-radius: 10px;
      padding: 20px  22px 22px 22px;
  }
