*{
    margin-left: 5px;;
}
body{
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 70px;
}

form{
    margin:auto;
    width:70%;
}
body h1{
    text-align:center;
    color:darkblue;
}
body p{
    text-align:center;
    font-size:10px;
    color:darkblue;
}
.regven{
    margin-left: 80px;
}
p1{
    margin-left:100px;
    font-size: 20px;
}

.input1{
    display:flex;
    justify-content: space-evenly;
}
.input1 > div > input{
    top:-37px;
    line-height:50px;
    border-radius:5px;
    padding:0 150px;
    font-size: 18px;
}
.input1 > div > label{
    margin-bottom:10px;
    font-size: 18px;
} 
.input3{
    
    justify-content:space-evenly;
}

.input3 > div > input{
    top:-37px;
    line-height:50px;
    border-radius:5px;
    padding:0 400px;
    font-size: 18px;
    
}
.input3 > div > label{
    margin-bottom:10px;
    font-size: 18px;
    
} 

.input5{
    display:flex;
    justify-content: space-evenly;
}
.input5 > div > input{
    top:-37px;
    line-height:50px;
    border-radius:5px;
    padding:0 150px;
    font-size: 18px;
}
.input5 > div > label{
    margin-bottom:10px;
    font-size: 18px;
} 

.input8 > div > input{
    top:-37px;
    line-height:50px;
    border-radius:5px;
    padding:0 400px;
    font-size: 18px;
    
}
.input8 > div > label{
    margin-bottom:10px;
    font-size: 18px;
    
} 

p2{
    margin-left:100px;
    font-size: 20px;
    color:gray;
}

.input10 > div > input{
    top:-37px;
    line-height:150px;
    border-radius:5px;
    padding:0 400px;
    font-size: 18px;
    
}
.input10 > div > label{
    margin-bottom:10px;
    font-size: 18px;
    
} 

.input12{
    display:flex;
    justify-content: space-evenly;
}
.input12 > div > input{
    top:-37px;
    line-height:50px;
    border-radius:5px;
    padding:0 150px;
    font-size: 18px;
}
.input12 > div > label{
    margin-bottom:10px;
    font-size: 18px;
} 

.input15 > div > input{
    top:-37px;
    line-height:50px;
    border-radius:5px;
    padding:0 400px;
    font-size: 18px;
    
}
.input15 > div > label{
    margin-bottom:10px;
    font-size: 18px;
    
} 

.input17{
    font-size: 30px;
    font-weight:bold;
    margin:50px 0;
    padding: 10px, 10px;
    width:80%;
    border-radius: 5px;
    text-align: center;
}
button{
    background-color:orange;
    padding: 12px 30px;
    margin-left: 60px;


}


