*{
    
    font-family: sans-serif;
}
body{
    background-size:cover;

}

.Sign-in {
    width:350px;
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
    
}

.Sign-in h1 {
    font-size: 40px;
    text-align: auto;
    margin:40px 0;
}

.Sign-in p{
    font-size: 20px;
    margin: 15px 0;
}

.Sign-in input{
    font-size: 25px;
    width: 100%;
    padding: 15px 10;
    outline:none;
    box-shadow: 3px 3px 3px
}
.Sign-in button{
    font-size: 18px;
    font-weight:bold;
    margin: 20px 0;
    padding: 10px 15px;
    width:50%;
    border-radius:5px;
    background: orange;
}



