*{
    
    font-family: sans-serif;
}
body{
    background-size:cover;

}

.Sign-up {
    width:450px;
    margin-top : 60px;
    margin : auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: center;
}

.Sign-up h1 {
    font-size: 40px;
    text-align: auto;
    margin:40px 0;
}

.Sign-up p{
    font-size: 20px;
    margin: 15px 0;
}

.Sign-up input{
    font-size: 25px;
    width: 95%;
    padding: 15px 10;
    outline:none;
    box-shadow: 3px 3px 3px
}
.Sign-up button{
    font-size: 18px;
    font-weight:bold;
    margin: 20px 0;
    padding: 10px 15px;
    width:50%;
    border-radius:5px;
    
}

#submit{
    background: orangered;
    border-radius: 10px;
}


